<%- include("partials/header.ejs") %>



<section class="addgame-container">
  <div class="addgame-title">
    <h2>Ajouter un jeu</h2>
  </div>
  <div class="img-text-addgame">
    <img src="<%= gameCover %>">
    <div class="text-addgame">
      <h3><%= gameName %></h3>
      <span>Released on <%= gameDate %></span>
    </div>
  </div>
  <form action="/addGame" method="post" class="form-add">
    <label>Votre note</label>
    <select id="selectNote" name="selectNote">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <label>Votre avis</label>
    <textarea id="commentaire" name="commentaire" maxlength="255" rows="7"></textarea>
    <div class="form-button">
      <button type="button" onclick='window.location.href="/"' class="cancel-button">Annuler</button>
      <button type="submit" class="submit-button">Enregistrer</button>
    </div>

  </form>
</section>



<%- include("partials/footer.ejs") %>