<%- include("partials/header.ejs") %>

<section class="addgame-container">
  <div class="addgame-title">
    <h2>Modify a review</h2>
  </div>
  <div class="img-text-addgame">
    <img src="<%= resultRows[0].img %>">
    <div class="text-addgame">
      <h3><%= resultRows[0].game_name %></h3>
      <span>Released on <%= resultRows[0].date_publication %></span>
    </div>
  </div>

  <form action="/edit/<%= resultRows[0].id %>" method="post" class="form-add">
    <label>Votre note</label>
    <select id="selectNote" name="selectNote">
      <option value="1" <% if (resultRows[0].note === 1) {%> selected <% } %>>1</option>
      <option value="2" <% if (resultRows[0].note === 2) {%> selected <% } %>>2</option>
      <option value="3" <% if (resultRows[0].note === 3) {%> selected <% } %>>3</option>
      <option value="4" <% if (resultRows[0].note === 4) {%> selected <% } %>>4</option>
      <option value="5" <% if (resultRows[0].note === 5) {%> selected <% } %>>5</option>
    </select>
    <label>Votre avis</label>
    <textarea id="commentaire" name="commentaire" maxlength="255"><%= resultRows[0].description %></textarea>
    <div class="form-button">
      <button type="button" onclick='window.location.href="/"' class="cancel-button">Annuler</button>
      <button type="submit" class="submit-button">Enregistrer</button>
    </div>
  </form>
</section>

<%- include("partials/footer.ejs") %>